tqdm
langchain
langchain_community
javascript
setuptools
openai
chardet
cchardet
tiktoken
requests
setuptools
gymnasium
psutil
minecraft_launcher_lib
sentence-transformers   
dashscope
coloredlogs
filelock